In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np 
import pandas as pd
from sklearn.metrics import confusion_matrix, classification_report

# Importando dados

In [2]:
df = pd.read_csv('data/dados-pacote-cirurgico-2022-02-08 10_30_25.csv', sep=';', encoding='iso8859-1')
df = df.rename(columns={'Descrição do Item':'itens'})

In [3]:
df_perfursor = pd.read_excel('data/perfursor_0.9.xlsx')
df_cateter_venoso = pd.read_excel('data/cateter_venoso_0.85.xlsx')
df_fio_mononalion = pd.read_excel('data/fio_mononalion_0.9.xlsx')
df_fio_prolene = pd.read_excel('data/fio_prolene_0.9.xlsx')
df_fio_seda = pd.read_excel('data/fio_seda_0.9.xlsx')
df_fio_vicryl = pd.read_excel('data/fio_vicryl_0.9.xlsx')
df_frauda_infatil= pd.read_excel('data/frauda_infatil_0.9.xlsx')
df_tubo_endotraqueal = pd.read_excel('data/tubo_endotraqueal_0.9.xlsx')

# Tubo Endotraqueal

- Filtros

In [3]:
tubo_endotraqueal = [
    'TUBO ENDOTRAQUEAL S/BALAO 3.0 - MALLINCKRODT',
    'TUBO ENDOTRAQUEAL S/BALAO 4.0 - MALLINCKRODT',
    'TUBO ENDOTRAQUEAL S/BALAO 3.5 - MALLINCKRODT'
]

In [4]:
df['itens'][df['itens'] == tubo_endotraqueal[0]]

41936     TUBO ENDOTRAQUEAL S/BALAO 3.0 - MALLINCKRODT
56555     TUBO ENDOTRAQUEAL S/BALAO 3.0 - MALLINCKRODT
77543     TUBO ENDOTRAQUEAL S/BALAO 3.0 - MALLINCKRODT
78353     TUBO ENDOTRAQUEAL S/BALAO 3.0 - MALLINCKRODT
116127    TUBO ENDOTRAQUEAL S/BALAO 3.0 - MALLINCKRODT
Name: itens, dtype: object

In [5]:
tubo_endotraqueal[1]

'TUBO ENDOTRAQUEAL S/BALAO 4.0 - MALLINCKRODT'

In [6]:
df['itens'][df['itens'] == tubo_endotraqueal[1]]

Series([], Name: itens, dtype: object)

In [7]:
df['itens'][df['itens'] == tubo_endotraqueal[2]]

6308     TUBO ENDOTRAQUEAL S/BALAO 3.5 - MALLINCKRODT
46310    TUBO ENDOTRAQUEAL S/BALAO 3.5 - MALLINCKRODT
57706    TUBO ENDOTRAQUEAL S/BALAO 3.5 - MALLINCKRODT
59052    TUBO ENDOTRAQUEAL S/BALAO 3.5 - MALLINCKRODT
Name: itens, dtype: object

In [8]:
df_tubo_endotraqueal[df_tubo_endotraqueal == tubo_endotraqueal[0]]

,Unnamed: 0,item_A,item_B,valor_similaridade,predito,classe,real
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,TUBO ENDOTRAQUEAL S/BALAO 3.0 - MALLINCKRODT,NaN,NaN,NaN,NaN,NaN
10,NaN,TUBO ENDOTRAQUEAL S/BALAO 3.0 - MALLINCKRODT,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,TUBO ENDOTRAQUEAL S/BALAO 3.0 - MALLINCKRODT,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,TUBO ENDOTRAQUEAL S/BALAO 3.0 - MALLINCKRODT,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,TUBO ENDOTRAQUEAL S/BALAO 3.0 - MALLINCKRODT,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,TUBO ENDOTRAQUEAL S/BALAO 3.0 - MALLINCKRODT,NaN,NaN,NaN,NaN

In [9]:
df_tubo_endotraqueal[df_tubo_endotraqueal == tubo_endotraqueal[1]]

    Unnamed: 0 item_A item_B  valor_similaridade  predito classe  real
0          NaN    NaN    NaN                 NaN      NaN    NaN   NaN
1          NaN    NaN    NaN                 NaN      NaN    NaN   NaN
2          NaN    NaN    NaN                 NaN      NaN    NaN   NaN
3          NaN    NaN    NaN                 NaN      NaN    NaN   NaN
4          NaN    NaN    NaN                 NaN      NaN    NaN   NaN
5          NaN    NaN    NaN                 NaN      NaN    NaN   NaN
6          NaN    NaN    NaN                 NaN      NaN    NaN   NaN
7          NaN    NaN    NaN                 NaN      NaN    NaN   NaN
8          NaN    NaN    NaN                 NaN      NaN    NaN   NaN
9          NaN    NaN    NaN                 NaN      NaN    NaN   NaN
10         NaN    NaN    NaN                 NaN      NaN    NaN   NaN
11         NaN    NaN    NaN                 NaN      NaN    NaN   NaN
12         NaN    NaN    NaN                 NaN      NaN    NaN   NaN
13         NaN    NaN    NaN                 NaN      NaN    NaN   NaN
14         NaN    NaN    NaN                 NaN      NaN    NaN   NaN
15         NaN    NaN    NaN                 NaN      NaN    NaN   NaN
16         NaN    NaN    NaN                 NaN      NaN    NaN   NaN
17         NaN    NaN    NaN                 NaN      NaN    NaN   NaN
18         NaN    NaN    NaN                 NaN      NaN    NaN   NaN
19         NaN    NaN    NaN                 NaN      NaN    NaN   NaN
20         NaN    NaN    NaN                 NaN      NaN    NaN   NaN

In [10]:
df_tubo_endotraqueal[df_tubo_endotraqueal == tubo_endotraqueal[2]]

,Unnamed: 0,item_A,item_B,valor_similaridade,predito,classe,real
0,NaN,NaN,TUBO ENDOTRAQUEAL S/BALAO 3.5 - MALLINCKRODT,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,TUBO ENDOTRAQUEAL S/BALAO 3.5 - MALLINCKRODT,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,TUBO ENDOTRAQUEAL S/BALAO 3.5 - MALLINCKRODT,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,TUBO ENDOTRAQUEAL S/BALAO 3.5 - MALLINCKRODT,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,TUBO ENDOTRAQUEAL S/BALAO 3.5 - MALLINCKRODT,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,TUBO ENDOTRAQUEAL S/BALAO 3.5 - MALLINCKRODT,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,TUBO ENDOTRAQUEAL S/BALAO 3.5 - MALLINCKRODT,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,TUBO ENDOTRAQUEAL S/BALAO 3.5 - MALLINCKRODT,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- Grupo de itens similares de Tubo Endotraqueal

In [11]:
tubo_itens_a = df_tubo_endotraqueal[['item_A', 'predito', 'real']].rename(columns={'item_A':'itens'})
tubo_itens_b = df_tubo_endotraqueal[['item_B', 'predito', 'real']].rename(columns={'item_B':'itens'})

itens_tubo_endotraqueal = pd.concat([tubo_itens_a, tubo_itens_b]).drop_duplicates()

itens_tubo_endotraqueal.to_csv('data/itens_tubo_endotraqueal.csv')

In [12]:
itens_tubo_endotraqueal

                                                itens  predito  real
0        TUBO ENDOTRAQUEAL C/BALAO 4.0 - MALLINCKRODT        1     1
1   TUBO ENDOTRAQUEAL TAPERGUARD C/BALAO 6.0 - MAL...        1     1
2        TUBO ENDOTRAQUEAL C/BALAO 3.5 - MALLINCKRODT        1     1
4        TUBO ENDOTRAQUEAL C/BALAO 4.5 - MALLINCKRODT        1     1
6   TUBO ENDOTRAQUEAL TAPERGUARD C/BALAO 5.0 - MAL...        1     1
7   TUBO ENDOTRAQUEAL TAPERGUARD C/BALAO 9.0 - MAL...        1     1
8   TUBO ENDOTRAQUEAL ARAMADO C/BALAO - 7.0 - MALL...        1     1
9        TUBO ENDOTRAQUEAL S/BALAO 3.0 - MALLINCKRODT        1     1
11       TUBO ENDOTRAQUEAL C/BALAO 3.0 - MALLINCKRODT        1     1
14       TUBO ENDOTRAQUEAL S/BALAO 2.5 - MALLINCKRODT        1     1
17            TUBO ENDOTRAQUEAL ARAMADO S/BALAO - 3.5        1     1
19           TUBO ENDOTRAQUEAL ARAMADO S/ BALAO - 3.0        1     1
0        TUBO ENDOTRAQUEAL S/BALAO 3.5 - MALLINCKRODT        1     1

- Metricas

In [13]:
print(classification_report(itens_tubo_endotraqueal['real'], itens_tubo_endotraqueal['predito']))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00        13

    accuracy                           1.00        13
   macro avg       1.00      1.00      1.00        13
weighted avg       1.00      1.00      1.00        13

# Frauda_infatil

In [4]:
frauda_infatil = [
    'FRALDA NEONATAL TAM. PP (0 A 3,5KG)',
    'FRALDA INFANTIL P (ATE 6KG)',
    'FRALDA INFANTIL EG (ACIMA DE 12KG)',
    'FRALDA INFANTIL M (DE 6 A 10KG)',
    'FRALDA PROTEK XXG 14 A 18 KG'
]

- Filtro

In [5]:
df_frauda_infatil[df_frauda_infatil == frauda_infatil[0]]

   Unnamed: 0 item_A item_B  valor_similaridade  predito classe  real
0         NaN    NaN    NaN                 NaN      NaN    NaN   NaN
1         NaN    NaN    NaN                 NaN      NaN    NaN   NaN
2         NaN    NaN    NaN                 NaN      NaN    NaN   NaN
3         NaN    NaN    NaN                 NaN      NaN    NaN   NaN

In [6]:
df_frauda_infatil[df_frauda_infatil == frauda_infatil[1]]

,Unnamed: 0,item_A,item_B,valor_similaridade,predito,classe,real
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,FRALDA INFANTIL P (ATE 6KG),NaN,NaN,NaN,NaN,NaN
3,NaN,FRALDA INFANTIL P (ATE 6KG),NaN,NaN,NaN,NaN,NaN

In [7]:
df_frauda_infatil[df_frauda_infatil == frauda_infatil[2]]

,Unnamed: 0,item_A,item_B,valor_similaridade,predito,classe,real
0,NaN,NaN,FRALDA INFANTIL EG (ACIMA DE 12KG),NaN,NaN,NaN,NaN
1,NaN,NaN,FRALDA INFANTIL EG (ACIMA DE 12KG),NaN,NaN,NaN,NaN
2,NaN,NaN,FRALDA INFANTIL EG (ACIMA DE 12KG),NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_frauda_infatil[df_frauda_infatil == frauda_infatil[3]]

,Unnamed: 0,item_A,item_B,valor_similaridade,predito,classe,real
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,FRALDA INFANTIL M (DE 6 A 10KG),NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,FRALDA INFANTIL M (DE 6 A 10KG),NaN,NaN,NaN,NaN

In [9]:
df_frauda_infatil[df_frauda_infatil == frauda_infatil[4]]

   Unnamed: 0 item_A item_B  valor_similaridade  predito classe  real
0         NaN    NaN    NaN                 NaN      NaN    NaN   NaN
1         NaN    NaN    NaN                 NaN      NaN    NaN   NaN
2         NaN    NaN    NaN                 NaN      NaN    NaN   NaN
3         NaN    NaN    NaN                 NaN      NaN    NaN   NaN

In [10]:
df['itens'][df.itens == frauda_infatil[0]]

Series([], Name: itens, dtype: object)

In [11]:
df['itens'][df.itens == frauda_infatil[1]]

17257    FRALDA INFANTIL P (ATE 6KG)
19151    FRALDA INFANTIL P (ATE 6KG)
19636    FRALDA INFANTIL P (ATE 6KG)
27418    FRALDA INFANTIL P (ATE 6KG)
35964    FRALDA INFANTIL P (ATE 6KG)
36963    FRALDA INFANTIL P (ATE 6KG)
37587    FRALDA INFANTIL P (ATE 6KG)
59039    FRALDA INFANTIL P (ATE 6KG)
59853    FRALDA INFANTIL P (ATE 6KG)
60214    FRALDA INFANTIL P (ATE 6KG)
60509    FRALDA INFANTIL P (ATE 6KG)
72440    FRALDA INFANTIL P (ATE 6KG)
73071    FRALDA INFANTIL P (ATE 6KG)
84816    FRALDA INFANTIL P (ATE 6KG)
Name: itens, dtype: object

In [12]:
df['itens'][df.itens == frauda_infatil[2]]

552       FRALDA INFANTIL EG (ACIMA DE 12KG)
12487     FRALDA INFANTIL EG (ACIMA DE 12KG)
13415     FRALDA INFANTIL EG (ACIMA DE 12KG)
17260     FRALDA INFANTIL EG (ACIMA DE 12KG)
17261     FRALDA INFANTIL EG (ACIMA DE 12KG)
                         ...
85400     FRALDA INFANTIL EG (ACIMA DE 12KG)
87411     FRALDA INFANTIL EG (ACIMA DE 12KG)
87412     FRALDA INFANTIL EG (ACIMA DE 12KG)
102821    FRALDA INFANTIL EG (ACIMA DE 12KG)
125255    FRALDA INFANTIL EG (ACIMA DE 12KG)
Name: itens, Length: 83, dtype: object

In [13]:
df['itens'][df.itens == frauda_infatil[3]]

9564      FRALDA INFANTIL M (DE 6 A 10KG)
17157     FRALDA INFANTIL M (DE 6 A 10KG)
17258     FRALDA INFANTIL M (DE 6 A 10KG)
17259     FRALDA INFANTIL M (DE 6 A 10KG)
18025     FRALDA INFANTIL M (DE 6 A 10KG)
18026     FRALDA INFANTIL M (DE 6 A 10KG)
22425     FRALDA INFANTIL M (DE 6 A 10KG)
23197     FRALDA INFANTIL M (DE 6 A 10KG)
25992     FRALDA INFANTIL M (DE 6 A 10KG)
26202     FRALDA INFANTIL M (DE 6 A 10KG)
54339     FRALDA INFANTIL M (DE 6 A 10KG)
68395     FRALDA INFANTIL M (DE 6 A 10KG)
81049     FRALDA INFANTIL M (DE 6 A 10KG)
81808     FRALDA INFANTIL M (DE 6 A 10KG)
83749     FRALDA INFANTIL M (DE 6 A 10KG)
84257     FRALDA INFANTIL M (DE 6 A 10KG)
85223     FRALDA INFANTIL M (DE 6 A 10KG)
86017     FRALDA INFANTIL M (DE 6 A 10KG)
87409     FRALDA INFANTIL M (DE 6 A 10KG)
87410     FRALDA INFANTIL M (DE 6 A 10KG)
94685     FRALDA INFANTIL M (DE 6 A 10KG)
116442    FRALDA INFANTIL M (DE 6 A 10KG)
119934    FRALDA INFANTIL M (DE 6 A 10KG)
Name: itens, dtype: object

In [16]:
df['itens'][df.itens == frauda_infatil[4]]

113480    FRALDA PROTEK XXG 14 A 18 KG
Name: itens, dtype: object

- Grupo de itens similares de Fraudas

In [22]:
itens_a = df_frauda_infatil[['item_A','predito', 'real']].rename(columns={'item_A':'itens'})
itens_b = df_frauda_infatil[['item_B','predito', 'real']].rename(columns={'item_B':'itens'})

itens_frauda = pd.concat([itens_a, itens_b]).drop_duplicates()

itens_frauda.to_csv('data/itens_frauda.csv')

In [21]:
itens_frauda

                                itens  predito  real
0     FRALDA INFANTIL G (DE 9 A 13KG)        1     1
1     FRALDA INFANTIL M (DE 6 A 10KG)        1     1
2         FRALDA INFANTIL P (ATE 6KG)        1     1
0  FRALDA INFANTIL EG (ACIMA DE 12KG)        1     1

- Metricas

In [59]:
print(classification_report(itens_frauda['real'], itens_frauda['predito']))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00         4

    accuracy                           1.00         4
   macro avg       1.00      1.00      1.00         4
weighted avg       1.00      1.00      1.00         4

# Fio Prolene

- Filtros

In [26]:
fio_prolene = [
    'FIO CIRURGICO PROLENE 8707 T 6-0 - JOHNSON & JOHNSON',
    'FIO CIRURGICO PROLENE 9556 T 5-0 - JOHNSON & JOHNSON',
    'FIO CIRURGICO PROLENE M8703 T 7-0 - JOHNSON & JOHNSON',
    'FIO CIRURGICO PROLENE 8704 T 7-0 - JOHNSON & JOHNSON',
    'FIO CIRURGICO PROLENE 8730 T 8-0'
]

In [27]:
df['itens'][df.itens == fio_prolene[0]]

9454      FIO CIRURGICO PROLENE 8707 T 6-0 - JOHNSON & J...
10111     FIO CIRURGICO PROLENE 8707 T 6-0 - JOHNSON & J...
76739     FIO CIRURGICO PROLENE 8707 T 6-0 - JOHNSON & J...
111454    FIO CIRURGICO PROLENE 8707 T 6-0 - JOHNSON & J...
Name: itens, dtype: object

In [28]:
df['itens'][df.itens == fio_prolene[1]]

9455      FIO CIRURGICO PROLENE 9556 T 5-0 - JOHNSON & J...
10112     FIO CIRURGICO PROLENE 9556 T 5-0 - JOHNSON & J...
10255     FIO CIRURGICO PROLENE 9556 T 5-0 - JOHNSON & J...
28192     FIO CIRURGICO PROLENE 9556 T 5-0 - JOHNSON & J...
36160     FIO CIRURGICO PROLENE 9556 T 5-0 - JOHNSON & J...
47448     FIO CIRURGICO PROLENE 9556 T 5-0 - JOHNSON & J...
70532     FIO CIRURGICO PROLENE 9556 T 5-0 - JOHNSON & J...
76741     FIO CIRURGICO PROLENE 9556 T 5-0 - JOHNSON & J...
82786     FIO CIRURGICO PROLENE 9556 T 5-0 - JOHNSON & J...
111127    FIO CIRURGICO PROLENE 9556 T 5-0 - JOHNSON & J...
115272    FIO CIRURGICO PROLENE 9556 T 5-0 - JOHNSON & J...
Name: itens, dtype: object

In [29]:
df['itens'][df.itens == fio_prolene[2]]

10113     FIO CIRURGICO PROLENE M8703 T 7-0 - JOHNSON & ...
119626    FIO CIRURGICO PROLENE M8703 T 7-0 - JOHNSON & ...
Name: itens, dtype: object

In [30]:
df['itens'][df.itens == fio_prolene[3]]

105542    FIO CIRURGICO PROLENE 8704 T 7-0 - JOHNSON & J...
Name: itens, dtype: object

In [31]:
df_fio_prolene[df_fio_prolene ==  fio_prolene[0]]

,Unnamed: 0,item_A,item_B,valor_similaridade,predito,classe,real
0,NaN,NaN,FIO CIRURGICO PROLENE 8707 T 6-0 - JOHNSON & J...,NaN,NaN,NaN,NaN
1,NaN,NaN,FIO CIRURGICO PROLENE 8707 T 6-0 - JOHNSON & J...,NaN,NaN,NaN,NaN
2,NaN,NaN,FIO CIRURGICO PROLENE 8707 T 6-0 - JOHNSON & J...,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,FIO CIRURGICO PROLENE 8707 T 6-0 - JOHNSON & J...,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,FIO CIRURGICO PROLENE 8707 T 6-0 - JOHNSON & J...,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,FIO CIRURGICO PROLENE 8707 T 6-0 - JOHNSON & J...,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,FIO CIRURGICO PROLENE 8707 T 6-0 - JOHNSON & J...,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,FIO CIRURGICO PROLENE 8707 T 6-0 - JOHNSON & J...,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,FIO CIRURGICO PROLENE 8707 T 6-0 - JOHNSON & J...,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,FIO CIRURGICO PROLENE 8707 T 6-0 - JOHNSON & J...,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df_fio_prolene[df_fio_prolene ==  fio_prolene[1]]

,Unnamed: 0,item_A,item_B,valor_similaridade,predito,classe,real
0,NaN,FIO CIRURGICO PROLENE 9556 T 5-0 - JOHNSON & J...,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,FIO CIRURGICO PROLENE 9556 T 5-0 - JOHNSON & J...,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,FIO CIRURGICO PROLENE 9556 T 5-0 - JOHNSON & J...,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,FIO CIRURGICO PROLENE 9556 T 5-0 - JOHNSON & J...,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,FIO CIRURGICO PROLENE 9556 T 5-0 - JOHNSON & J...,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,FIO CIRURGICO PROLENE 9556 T 5-0 - JOHNSON & J...,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,FIO CIRURGICO PROLENE 9556 T 5-0 - JOHNSON & J...,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,FIO CIRURGICO PROLENE 9556 T 5-0 - JOHNSON & J...,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df_fio_prolene[df_fio_prolene ==  fio_prolene[2]]

,Unnamed: 0,item_A,item_B,valor_similaridade,predito,classe,real
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,FIO CIRURGICO PROLENE M8703 T 7-0 - JOHNSON & ...,NaN,NaN,NaN,NaN,NaN
3,NaN,FIO CIRURGICO PROLENE M8703 T 7-0 - JOHNSON & ...,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,FIO CIRURGICO PROLENE M8703 T 7-0 - JOHNSON & ...,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,FIO CIRURGICO PROLENE M8703 T 7-0 - JOHNSON & ...,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,FIO CIRURGICO PROLENE M8703 T 7-0 - JOHNSON & ...,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,FIO CIRURGICO PROLENE M8703 T 7-0 - JOHNSON & ...,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,FIO CIRURGICO PROLENE M8703 T 7-0 - JOHNSON & ...,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,FIO CIRURGICO PROLENE M8703 T 7-0 - JOHNSON & ...,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,FIO CIRURGICO PROLENE M8703 T 7-0 - JOHNSON & ...,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
df_fio_prolene[df_fio_prolene ==  fio_prolene[3]]

,Unnamed: 0,item_A,item_B,valor_similaridade,predito,classe,real
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,FIO CIRURGICO PROLENE 8704 T 7-0 - JOHNSON & J...,NaN,NaN,NaN,NaN,NaN
20,NaN,FIO CIRURGICO PROLENE 8704 T 7-0 - JOHNSON & J...,NaN,NaN,NaN,NaN,NaN
21,NaN,FIO CIRURGICO PROLENE 8704 T 7-0 - JOHNSON & J...,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,FIO CIRURGICO PROLENE 8704 T 7-0 - JOHNSON & J...,NaN,NaN,NaN,NaN

- Grupo de itens similares de Fio Prolene

In [35]:
itens_a = df_fio_prolene[['item_A', 'predito', 'real']].rename(columns={'item_A':'itens'})
itens_b = df_fio_prolene[['item_B', 'predito', 'real']].rename(columns={'item_B':'itens'})

itens_fio_prolene = pd.concat([itens_a, itens_b], ignore_index=True).drop_duplicates()

In [36]:
itens_fio_prolene = pd.concat([itens_fio_prolene.iloc[:11], itens_fio_prolene.iloc[12:]])

In [94]:
itens_fio_prolene.itens.value_counts()

FIO CIRURGICO PROLENE 9556 T 5-0 - JOHNSON & JOHNSON       2
FIO CIRURGICO PROLENE M8703 T 7-0 - JOHNSON & JOHNSON      2
FIO CIRURGICO MERSILENE SMV73 T 3-0 - JOHNSON & JOHNSON    1
FIO CIRURGICO PROLENE 9521 T 4-0 - JOHNSON & JOHNSON       1
FIO CIRURGICO PROLENE 8512 T 3-0 - JOHNSON & JOHNSON       1
FIO CIRURGICO PROLENE 9557 T 4-0 - JOHNSON & JOHNSON       1
FIO CIRURGICO CAPROFYL CF122T H 3-0 - JOHNSON E JOHNSON    1
FIO CIRURGICO PROLENE 8424 T 0 - JOHNSON & JOHNSON         1
FIO CIRURGICO PROLENE 8704 T 7-0 - JOHNSON & JOHNSON       1
FIO CIRURGICO PROLENE 8730 T 8-0                           1
FIO CIRURGICO PROLENE 8707 T 6-0 - JOHNSON & JOHNSON       1
Name: itens, dtype: int64

In [99]:
itens_fio_prolene.iloc[:11].shape

(11, 3)

In [101]:
itens_fio_prolene = itens_fio_prolene.iloc[:11]

In [102]:
itens_fio_prolene.to_csv('data/itens_fio_prolene.csv')

- Metricas

In [103]:
confusion_matrix(itens_fio_prolene['real'], itens_fio_prolene['predito'])

array([[0, 2],
       [0, 9]])

In [105]:
print(classification_report(itens_fio_prolene['real'], itens_fio_prolene['predito']))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         2
           1       0.82      1.00      0.90         9

    accuracy                           0.82        11
   macro avg       0.41      0.50      0.45        11
weighted avg       0.67      0.82      0.74        11

# Fio_vicryl

- Filtros

In [23]:
fio_vicryl = [
    'FIO CIRURGICO VICRYL VCP316 H - JOHNSON & JOHNSON',
    'FIO CIRURGICO VICRYL VCP340 H 0 - JOHNSON & JOHNSON'
]

In [24]:
df['itens'][df.itens == fio_vicryl[0]]

5359      FIO CIRURGICO VICRYL VCP316 H - JOHNSON & JOHNSON
7831      FIO CIRURGICO VICRYL VCP316 H - JOHNSON & JOHNSON
10500     FIO CIRURGICO VICRYL VCP316 H - JOHNSON & JOHNSON
11017     FIO CIRURGICO VICRYL VCP316 H - JOHNSON & JOHNSON
11351     FIO CIRURGICO VICRYL VCP316 H - JOHNSON & JOHNSON
                                ...
116569    FIO CIRURGICO VICRYL VCP316 H - JOHNSON & JOHNSON
119629    FIO CIRURGICO VICRYL VCP316 H - JOHNSON & JOHNSON
125108    FIO CIRURGICO VICRYL VCP316 H - JOHNSON & JOHNSON
125220    FIO CIRURGICO VICRYL VCP316 H - JOHNSON & JOHNSON
128137    FIO CIRURGICO VICRYL VCP316 H - JOHNSON & JOHNSON
Name: itens, Length: 81, dtype: object

In [25]:
df['itens'][df.itens == fio_vicryl[1]]

111137    FIO CIRURGICO VICRYL VCP340 H 0 - JOHNSON & JO...
Name: itens, dtype: object

In [27]:
df_fio_vicryl[df_fio_vicryl == fio_vicryl[0]]

,Unnamed: 0,item_A,item_B,valor_similaridade,predito,classe,real
0,NaN,NaN,FIO CIRURGICO VICRYL VCP316 H - JOHNSON & JOHNSON,NaN,NaN,NaN,NaN
1,NaN,NaN,FIO CIRURGICO VICRYL VCP316 H - JOHNSON & JOHNSON,NaN,NaN,NaN,NaN
2,NaN,NaN,FIO CIRURGICO VICRYL VCP316 H - JOHNSON & JOHNSON,NaN,NaN,NaN,NaN
3,NaN,NaN,FIO CIRURGICO VICRYL VCP316 H - JOHNSON & JOHNSON,NaN,NaN,NaN,NaN
4,NaN,NaN,FIO CIRURGICO VICRYL VCP316 H - JOHNSON & JOHNSON,NaN,NaN,NaN,NaN
5,NaN,NaN,FIO CIRURGICO VICRYL VCP316 H - JOHNSON & JOHNSON,NaN,NaN,NaN,NaN
6,NaN,NaN,FIO CIRURGICO VICRYL VCP316 H - JOHNSON & JOHNSON,NaN,NaN,NaN,NaN
7,NaN,NaN,FIO CIRURGICO VICRYL VCP316 H - JOHNSON & JOHNSON,NaN,NaN,NaN,NaN
8,NaN,NaN,FIO CIRURGICO VICRYL VCP316 H - JOHNSON & JOHNSON,NaN,NaN,NaN,NaN
9,NaN,NaN,FIO CIRURGICO VICRYL VCP316 H - JOHNSON & JOHNSON,NaN,NaN,NaN,NaN
10,NaN,NaN,FIO CIRURGICO VICRYL VCP316 H - JOHNSON & JOHNSON,NaN,NaN,NaN,NaN
11,NaN,NaN,FIO CIRURGICO VICRYL VCP316 H - JOHNSON & JOHNSON,NaN,NaN,NaN,NaN
12,NaN,NaN,FIO CIRURGICO VICRYL VCP316 H - JOHNSON & JOHNSON,NaN,NaN,NaN,NaN

In [26]:
df_fio_vicryl[df_fio_vicryl == fio_vicryl[1]]

,Unnamed: 0,item_A,item_B,valor_similaridade,predito,classe,real
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,FIO CIRURGICO VICRYL VCP340 H 0 - JOHNSON & JO...,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Grupo de itens similares de Fio Vicryl

In [28]:
itens_a = df_fio_vicryl[['item_A', 'predito', 'real']].rename(columns={'item_A':'itens'})
itens_b = df_fio_vicryl[['item_B', 'predito', 'real']].rename(columns={'item_B':'itens'})

itens_fio_vicryl = pd.concat([itens_a, itens_b], ignore_index=True).drop_duplicates()

In [32]:
itens_fio_vicryl['itens'].value_counts()

FIO CIRURGICO VICRYL VCP316 H - JOHNSON & JOHNSON        3
FIO CIRURGICO VICRYL VCP374 H 3-0 - JOHNSON & JOHNSON    1
FIO CIRURGICO VICRYL VCP375 H 2-0 - JOHNSON & JOHNSON    1
FIO CIRURGICO VICRYL VCP353 H 1-0 - JOHNSON E JOHNSON    1
FIO CIRURGICO VICRYL J183 G 3-0 - JOHNSON & JOHNSON      1
FIO CIRURGICO VICRYL VCP168 H 1-0 - JOHNSON & JOHNSON    1
FIO CIRURGICO VICRYL VCP406 H 3-0 - JOHNSON & JOHNSON    1
FIO CIRURGICO VICRYL J122 H 4-0 - JOHNSON E JOHNSON      1
FIO CIRURGICO VICRYL VCP310 H 4-0 - JOHNSON & JOHNSON    1
FIO CIRURGICO VICRYL VCP376 H 0 - JOHNSON & JOHNSON      1
FIO CIRURGICO PDP 880 G 1 - JOHNSON & JOHNSON            1
FIO CIRURGICO VICRYL VCP340 H 0 - JOHNSON & JOHNSON      1
FIO CIRURGICO PDS II Z339 2-0- JOHNSON & JOHNSON         1
FIO CIRURGICO VICRYL VCP340 H 02 - JOHNSON & JOHNSON     1
Name: itens, dtype: int64

In [38]:
itens_fio_vicryl = itens_fio_vicryl.iloc[:14]

- Metricas

In [61]:
confusion_matrix(itens_fio_vicryl['real'], itens_fio_vicryl['predito'])

array([[ 0,  2],
       [ 1, 11]])

In [60]:
print(classification_report(itens_fio_vicryl['real'], itens_fio_vicryl['predito']))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         2
           1       0.85      0.92      0.88        12

    accuracy                           0.79        14
   macro avg       0.42      0.46      0.44        14
weighted avg       0.73      0.79      0.75        14

## Fio de Seda

- Filtros

In [47]:
fio_seda = [
    'FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON',
    'FIO CIRURGICO SEDA SSP15 T-0',
    'FIO CIRURGICO SEDA SSP13 T 3-0 - JOHNSON & JOHNSON',
    'FIO CIRURGICO SEDA SSP14 T 2-0 - JOHNSON E JOHNSON'
]

In [48]:
df['itens'][df.itens == fio_seda[0]]

2131      FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
6467      FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
10114     FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
18195     FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
28193     FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
38538     FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
39482     FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
43887     FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
47449     FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
53193     FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
57957     FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
58435     FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
59916     FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
69849     FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
75361     FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
75861     FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
76742     FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
82787     FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
85068     FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
87904     FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
91140     FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
95545     FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
96272     FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
103163    FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
103232    FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
113831    FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
114353    FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
115273    FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
116131    FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
119267    FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
119627    FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
120418    FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
124955    FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
126352    FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON
Name: itens, dtype: object

In [49]:
df['itens'][df.itens == fio_seda[1]]

2132      FIO CIRURGICO SEDA SSP15 T-0
28194     FIO CIRURGICO SEDA SSP15 T-0
28293     FIO CIRURGICO SEDA SSP15 T-0
59917     FIO CIRURGICO SEDA SSP15 T-0
111129    FIO CIRURGICO SEDA SSP15 T-0
Name: itens, dtype: object

In [50]:
df['itens'][df.itens == fio_seda[2]]

91141    FIO CIRURGICO SEDA SSP13 T 3-0 - JOHNSON & JOH...
Name: itens, dtype: object

In [51]:
df['itens'][df.itens == fio_seda[3]]

10115     FIO CIRURGICO SEDA SSP14 T 2-0 - JOHNSON E JOH...
46988     FIO CIRURGICO SEDA SSP14 T 2-0 - JOHNSON E JOH...
58666     FIO CIRURGICO SEDA SSP14 T 2-0 - JOHNSON E JOH...
76743     FIO CIRURGICO SEDA SSP14 T 2-0 - JOHNSON E JOH...
85069     FIO CIRURGICO SEDA SSP14 T 2-0 - JOHNSON E JOH...
105543    FIO CIRURGICO SEDA SSP14 T 2-0 - JOHNSON E JOH...
111455    FIO CIRURGICO SEDA SSP14 T 2-0 - JOHNSON E JOH...
119628    FIO CIRURGICO SEDA SSP14 T 2-0 - JOHNSON E JOH...
120419    FIO CIRURGICO SEDA SSP14 T 2-0 - JOHNSON E JOH...
Name: itens, dtype: object

In [52]:
df_fio_seda[df_fio_seda == fio_seda[0]]

,Unnamed: 0,item_A,item_B,valor_similaridade,predito,classe,real
0,NaN,NaN,FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON,NaN,NaN,NaN,NaN
1,NaN,NaN,FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON,NaN,NaN,NaN,NaN
2,NaN,NaN,FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON,NaN,NaN,NaN,NaN
3,NaN,NaN,FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON,NaN,NaN,NaN,NaN
4,NaN,NaN,FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON,NaN,NaN,NaN,NaN
5,NaN,NaN,FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON,NaN,NaN,NaN,NaN

In [53]:
df_fio_seda

,Unnamed: 0,item_A,item_B,valor_similaridade,predito,classe,real
0,1747259,FIO CIRURGICO SEDA SSP14 T 2-0 - JOHNSON E JOH...,FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON,0.920567,1,91 -| 100,1
1,3866057,FIO CIRURGICO PDS Z352 H 0 - JOHNSON & JOHNSON,FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON,0.912031,1,91 -| 100,0
2,4140593,FIO CIRURGICO PDP 880 G 1 - JOHNSON & JOHNSON,FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON,0.901259,1,91 -| 100,0
3,4142807,FIO CIRURGICO SEDA SSP13 T 3-0 - JOHNSON & JOH...,FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON,0.920567,1,91 -| 100,1
4,4335425,FIO CIRURGICO SEDA G812 T 3-0 - JOHNSON & JOHNSON,FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON,0.995745,1,91 -| 100,1
5,4570109,FIO CIRURGICO PDS II Z339 2-0- JOHNSON & JOHNSON,FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON,0.909126,1,91 -| 100,0

In [54]:
df_fio_seda[df_fio_seda == fio_seda[1]]

   Unnamed: 0 item_A item_B  valor_similaridade  predito classe  real
0         NaN    NaN    NaN                 NaN      NaN    NaN   NaN
1         NaN    NaN    NaN                 NaN      NaN    NaN   NaN
2         NaN    NaN    NaN                 NaN      NaN    NaN   NaN
3         NaN    NaN    NaN                 NaN      NaN    NaN   NaN
4         NaN    NaN    NaN                 NaN      NaN    NaN   NaN
5         NaN    NaN    NaN                 NaN      NaN    NaN   NaN

In [55]:
df_fio_seda[df_fio_seda == fio_seda[2]]

,Unnamed: 0,item_A,item_B,valor_similaridade,predito,classe,real
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,FIO CIRURGICO SEDA SSP13 T 3-0 - JOHNSON & JOH...,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df_fio_seda[df_fio_seda == fio_seda[3]]

,Unnamed: 0,item_A,item_B,valor_similaridade,predito,classe,real
0,NaN,FIO CIRURGICO SEDA SSP14 T 2-0 - JOHNSON E JOH...,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- Grupo de itens similares de Fio de seda

In [57]:
tubo_itens_a = df_fio_seda[['item_A', 'predito', 'real']].rename(columns={'item_A':'itens'})
tubo_itens_b = df_fio_seda[['item_B', 'predito', 'real']].rename(columns={'item_B':'itens'})

itens_fio_seda = pd.concat([tubo_itens_a, tubo_itens_b], ignore_index=True).drop_duplicates()

In [58]:
itens_fio_seda

                                               itens  predito  real
0  FIO CIRURGICO SEDA SSP14 T 2-0 - JOHNSON E JOH...        1     1
1     FIO CIRURGICO PDS Z352 H 0 - JOHNSON & JOHNSON        1     0
2      FIO CIRURGICO PDP 880 G 1 - JOHNSON & JOHNSON        1     0
3  FIO CIRURGICO SEDA SSP13 T 3-0 - JOHNSON & JOH...        1     1
4  FIO CIRURGICO SEDA G812 T 3-0 - JOHNSON & JOHNSON        1     1
5   FIO CIRURGICO PDS II Z339 2-0- JOHNSON & JOHNSON        1     0
6  FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON        1     1
7  FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON        1     0

In [59]:
itens_fio_seda = itens_fio_seda.iloc[:7]
itens_fio_seda

                                               itens  predito  real
0  FIO CIRURGICO SEDA SSP14 T 2-0 - JOHNSON E JOH...        1     1
1     FIO CIRURGICO PDS Z352 H 0 - JOHNSON & JOHNSON        1     0
2      FIO CIRURGICO PDP 880 G 1 - JOHNSON & JOHNSON        1     0
3  FIO CIRURGICO SEDA SSP13 T 3-0 - JOHNSON & JOH...        1     1
4  FIO CIRURGICO SEDA G812 T 3-0 - JOHNSON & JOHNSON        1     1
5   FIO CIRURGICO PDS II Z339 2-0- JOHNSON & JOHNSON        1     0
6  FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON        1     1

In [60]:
itens_fio_seda = itens_fio_seda.append({
    'itens':'FIO CIRURGICO SEDA SSP15 T-0',
    'predito': 0,
    'real': 1,
    
}, ignore_index=True)

In [61]:
itens_fio_seda.to_csv('data/itens_fio_seda.csv')

In [62]:
itens_fio_seda

                                               itens  predito  real
0  FIO CIRURGICO SEDA SSP14 T 2-0 - JOHNSON E JOH...        1     1
1     FIO CIRURGICO PDS Z352 H 0 - JOHNSON & JOHNSON        1     0
2      FIO CIRURGICO PDP 880 G 1 - JOHNSON & JOHNSON        1     0
3  FIO CIRURGICO SEDA SSP13 T 3-0 - JOHNSON & JOH...        1     1
4  FIO CIRURGICO SEDA G812 T 3-0 - JOHNSON & JOHNSON        1     1
5   FIO CIRURGICO PDS II Z339 2-0- JOHNSON & JOHNSON        1     0
6  FIO CIRURGICO SEDA G813 T 2-0 - JOHNSON & JOHNSON        1     1
7                       FIO CIRURGICO SEDA SSP15 T-0        0     1

- Metricas

In [63]:
print(classification_report(itens_fio_seda['real'], itens_fio_seda['predito']))

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         3
           1       0.57      0.80      0.67         5

    accuracy                           0.50         8
   macro avg       0.29      0.40      0.33         8
weighted avg       0.36      0.50      0.42         8

In [64]:
confusion_matrix(itens_fio_seda['real'], itens_fio_seda['predito'])

array([[0, 3],
       [1, 4]])

# Perfursor

In [41]:
perfursor =[
    'PERFUSOR SET 120CM - B. BRAUN',
    'PERFUSOR SET 20CM - B. BRAUN'
]

- Filtros

In [43]:
df_perfursor[df_perfursor == perfursor[0]]

,Unnamed: 0,item_A,item_B,valor_similaridade,predito,classe,real
0,NaN,NaN,PERFUSOR SET 120CM - B. BRAUN,NaN,NaN,NaN,NaN
1,NaN,NaN,PERFUSOR SET 120CM - B. BRAUN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
df_perfursor[df_perfursor == perfursor[1]]

,Unnamed: 0,item_A,item_B,valor_similaridade,predito,classe,real
0,NaN,PERFUSOR SET 20CM - B. BRAUN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,PERFUSOR SET 20CM - B. BRAUN,NaN,NaN,NaN,NaN

In [44]:
df['itens'][df.itens == perfursor[0]]

223       PERFUSOR SET 120CM - B. BRAUN
1844      PERFUSOR SET 120CM - B. BRAUN
2121      PERFUSOR SET 120CM - B. BRAUN
2305      PERFUSOR SET 120CM - B. BRAUN
3107      PERFUSOR SET 120CM - B. BRAUN
                      ...
131195    PERFUSOR SET 120CM - B. BRAUN
131267    PERFUSOR SET 120CM - B. BRAUN
131913    PERFUSOR SET 120CM - B. BRAUN
133654    PERFUSOR SET 120CM - B. BRAUN
133701    PERFUSOR SET 120CM - B. BRAUN
Name: itens, Length: 305, dtype: object

In [45]:
df['itens'][df.itens == perfursor[1]]

4413      PERFUSOR SET 20CM - B. BRAUN
16153     PERFUSOR SET 20CM - B. BRAUN
17265     PERFUSOR SET 20CM - B. BRAUN
20698     PERFUSOR SET 20CM - B. BRAUN
27548     PERFUSOR SET 20CM - B. BRAUN
36075     PERFUSOR SET 20CM - B. BRAUN
38597     PERFUSOR SET 20CM - B. BRAUN
38719     PERFUSOR SET 20CM - B. BRAUN
40369     PERFUSOR SET 20CM - B. BRAUN
43820     PERFUSOR SET 20CM - B. BRAUN
45472     PERFUSOR SET 20CM - B. BRAUN
45683     PERFUSOR SET 20CM - B. BRAUN
54340     PERFUSOR SET 20CM - B. BRAUN
57691     PERFUSOR SET 20CM - B. BRAUN
59854     PERFUSOR SET 20CM - B. BRAUN
61988     PERFUSOR SET 20CM - B. BRAUN
62168     PERFUSOR SET 20CM - B. BRAUN
62251     PERFUSOR SET 20CM - B. BRAUN
66573     PERFUSOR SET 20CM - B. BRAUN
68545     PERFUSOR SET 20CM - B. BRAUN
70416     PERFUSOR SET 20CM - B. BRAUN
71256     PERFUSOR SET 20CM - B. BRAUN
72441     PERFUSOR SET 20CM - B. BRAUN
74429     PERFUSOR SET 20CM - B. BRAUN
81051     PERFUSOR SET 20CM - B. BRAUN
84202     PERFUSOR SET 20CM - B. BRAUN
86020     PERFUSOR SET 20CM - B. BRAUN
86930     PERFUSOR SET 20CM - B. BRAUN
92791     PERFUSOR SET 20CM - B. BRAUN
93305     PERFUSOR SET 20CM - B. BRAUN
94687     PERFUSOR SET 20CM - B. BRAUN
96154     PERFUSOR SET 20CM - B. BRAUN
97596     PERFUSOR SET 20CM - B. BRAUN
99410     PERFUSOR SET 20CM - B. BRAUN
106455    PERFUSOR SET 20CM - B. BRAUN
107059    PERFUSOR SET 20CM - B. BRAUN
116119    PERFUSOR SET 20CM - B. BRAUN
116218    PERFUSOR SET 20CM - B. BRAUN
118434    PERFUSOR SET 20CM - B. BRAUN
Name: itens, dtype: object

- Grupo de itens similares de Perfusor

In [47]:
itens_a = df_perfursor[['item_A', 'predito', 'real']].rename(columns={'item_A':'itens'})
itens_b = df_perfursor[['item_B', 'predito', 'real']].rename(columns={'item_B':'itens'})

itens_perfusor = pd.concat([itens_a, itens_b], ignore_index=True).drop_duplicates()

In [48]:
itens_perfusor

                           itens  predito  real
0   PERFUSOR SET 20CM - B. BRAUN        1     1
1   PERFUSOR SET 60CM - B. BRAUN        1     1
3  PERFUSOR SET 120CM - B. BRAUN        1     1

- Metricas

In [62]:
print(classification_report(itens_perfusor['real'], itens_perfusor['predito']))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00         3

    accuracy                           1.00         3
   macro avg       1.00      1.00      1.00         3
weighted avg       1.00      1.00      1.00         3

# Cateter Venoso

- Filtros

In [51]:
cateter_venoso = [
    'CATETER VENOSO PERIFERICO 22G - AUTOGUARD 381823 BD',
    'CATETER VENOSO PERIFERICO 24G - AUTOGUARD 381812 BD',
    'CATETER INTRAVASCULAR PERIFERICO JELCO 22GX25MM AZUL - SMITH'
]

In [52]:
df_cateter_venoso[df_cateter_venoso == cateter_venoso[0]]

,Unnamed: 0,item_A,item_B,valor_similaridade,predito,classe,real
0,NaN,NaN,CATETER VENOSO PERIFERICO 22G - AUTOGUARD 3818...,NaN,NaN,NaN,NaN
1,NaN,NaN,CATETER VENOSO PERIFERICO 22G - AUTOGUARD 3818...,NaN,NaN,NaN,NaN
2,NaN,NaN,CATETER VENOSO PERIFERICO 22G - AUTOGUARD 3818...,NaN,NaN,NaN,NaN
3,NaN,NaN,CATETER VENOSO PERIFERICO 22G - AUTOGUARD 3818...,NaN,NaN,NaN,NaN

In [53]:
df_cateter_venoso[df_cateter_venoso == cateter_venoso[1]]

,Unnamed: 0,item_A,item_B,valor_similaridade,predito,classe,real
0,NaN,CATETER VENOSO PERIFERICO 24G - AUTOGUARD 3818...,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
df_cateter_venoso[df_cateter_venoso == cateter_venoso[2]]

   Unnamed: 0 item_A item_B  valor_similaridade  predito classe  real
0         NaN    NaN    NaN                 NaN      NaN    NaN   NaN
1         NaN    NaN    NaN                 NaN      NaN    NaN   NaN
2         NaN    NaN    NaN                 NaN      NaN    NaN   NaN
3         NaN    NaN    NaN                 NaN      NaN    NaN   NaN

In [56]:
df['itens'][df.itens == cateter_venoso[0]]

479       CATETER VENOSO PERIFERICO 22G - AUTOGUARD 3818...
610       CATETER VENOSO PERIFERICO 22G - AUTOGUARD 3818...
1049      CATETER VENOSO PERIFERICO 22G - AUTOGUARD 3818...
1523      CATETER VENOSO PERIFERICO 22G - AUTOGUARD 3818...
1524      CATETER VENOSO PERIFERICO 22G - AUTOGUARD 3818...
                                ...
132683    CATETER VENOSO PERIFERICO 22G - AUTOGUARD 3818...
133546    CATETER VENOSO PERIFERICO 22G - AUTOGUARD 3818...
133547    CATETER VENOSO PERIFERICO 22G - AUTOGUARD 3818...
133666    CATETER VENOSO PERIFERICO 22G - AUTOGUARD 3818...
133713    CATETER VENOSO PERIFERICO 22G - AUTOGUARD 3818...
Name: itens, Length: 651, dtype: object

In [75]:
df['itens'][df.itens == cateter_venoso[1]]

22828     CATETER INTRAVASCULAR PERIFERICO JELCO 22GX25M...
40388     CATETER INTRAVASCULAR PERIFERICO JELCO 22GX25M...
71131     CATETER INTRAVASCULAR PERIFERICO JELCO 22GX25M...
110641    CATETER INTRAVASCULAR PERIFERICO JELCO 22GX25M...
124531    CATETER INTRAVASCULAR PERIFERICO JELCO 22GX25M...
Name: itens, dtype: object

In [55]:
df['itens'][df.itens == cateter_venoso[2]]

22828     CATETER INTRAVASCULAR PERIFERICO JELCO 22GX25M...
40388     CATETER INTRAVASCULAR PERIFERICO JELCO 22GX25M...
71131     CATETER INTRAVASCULAR PERIFERICO JELCO 22GX25M...
110641    CATETER INTRAVASCULAR PERIFERICO JELCO 22GX25M...
124531    CATETER INTRAVASCULAR PERIFERICO JELCO 22GX25M...
Name: itens, dtype: object

- Grupo de itens similares de Cateter venoso

In [57]:
itens_a = df_cateter_venoso[['item_A', 'predito', 'real']].rename(columns={'item_A':'itens'})
itens_b = df_cateter_venoso[['item_B', 'predito', 'real']].rename(columns={'item_B':'itens'})

itens_cateter_venoso = pd.concat([itens_a, itens_b], ignore_index=True).drop_duplicates()

In [58]:
itens_cateter_venoso

                                               itens  predito  real
0  CATETER VENOSO PERIFERICO 24G - AUTOGUARD 3818...        1     1
1  CATETER VENOSO PERIFERICO 18G - AUTOGUARD 3818...        1     1
2  CATETER VENOSO PERIFERICO 14G - C DISP. DE SEG...        1     1
3  CATETER VENOSO PERIFERICO 16G - C DISP. DE SEG...        1     1
4  CATETER VENOSO PERIFERICO 22G - AUTOGUARD 3818...        1     1

- Metricas

In [63]:
print(classification_report(itens_cateter_venoso['real'], itens_cateter_venoso['predito']))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00         5

    accuracy                           1.00         5
   macro avg       1.00      1.00      1.00         5
weighted avg       1.00      1.00      1.00         5

## Fio Mononalion

- Filtros

In [78]:
fio_monolion = [
    'FIO CIRURGICO MONONYLON P1662 T 4-0 - JOHNSON & JOHNSON',
    'FIO CIRURGICO MONONYLON P1664 T 4-0 - JOHNSON & JOHNSON',
    'FIO CIRURGICO MONONYLON P1663 T 3-0 - JOHNSON E JOHNSON',
    'FIO CIRURGICO MONONYLON 1215 T 2-0 - JOHNSON & JOHNSON'
]

In [79]:
df_fio_mononalion[df_fio_mononalion == fio_monolion[0]]

,Unnamed: 0,item_A,item_B,valor_similaridade,predito,classe,real
0,NaN,FIO CIRURGICO MONONYLON P1662 T 4-0 - JOHNSON ...,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,FIO CIRURGICO MONONYLON P1662 T 4-0 - JOHNSON ...,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,FIO CIRURGICO MONONYLON P1662 T 4-0 - JOHNSON ...,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,FIO CIRURGICO MONONYLON P1662 T 4-0 - JOHNSON ...,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,FIO CIRURGICO MONONYLON P1662 T 4-0 - JOHNSON ...,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,FIO CIRURGICO MONONYLON P1662 T 4-0 - JOHNSON ...,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,FIO CIRURGICO MONONYLON P1662 T 4-0 - JOHNSON ...,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
df_fio_mononalion[df_fio_mononalion == fio_monolion[1]]

,Unnamed: 0,item_A,item_B,valor_similaridade,predito,classe,real
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,FIO CIRURGICO MONONYLON P1664 T 4-0 - JOHNSON ...,NaN,NaN,NaN,NaN,NaN
2,NaN,FIO CIRURGICO MONONYLON P1664 T 4-0 - JOHNSON ...,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,FIO CIRURGICO MONONYLON P1664 T 4-0 - JOHNSON ...,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,FIO CIRURGICO MONONYLON P1664 T 4-0 - JOHNSON ...,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,FIO CIRURGICO MONONYLON P1664 T 4-0 - JOHNSON ...,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,FIO CIRURGICO MONONYLON P1664 T 4-0 - JOHNSON ...,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,FIO CIRURGICO MONONYLON P1664 T 4-0 - JOHNSON ...,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
df_fio_mononalion[df_fio_mononalion == fio_monolion[2]]

,Unnamed: 0,item_A,item_B,valor_similaridade,predito,classe,real
0,NaN,NaN,FIO CIRURGICO MONONYLON P1663 T 3-0 - JOHNSON ...,NaN,NaN,NaN,NaN
1,NaN,NaN,FIO CIRURGICO MONONYLON P1663 T 3-0 - JOHNSON ...,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,FIO CIRURGICO MONONYLON P1663 T 3-0 - JOHNSON ...,NaN,NaN,NaN,NaN
4,NaN,NaN,FIO CIRURGICO MONONYLON P1663 T 3-0 - JOHNSON ...,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,FIO CIRURGICO MONONYLON P1663 T 3-0 - JOHNSON ...,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,FIO CIRURGICO MONONYLON P1663 T 3-0 - JOHNSON ...,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,FIO CIRURGICO MONONYLON P1663 T 3-0 - JOHNSON ...,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,FIO CIRURGICO MONONYLON P1663 T 3-0 - JOHNSON ...,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
df_fio_mononalion[df_fio_mononalion == fio_monolion[3]]

,Unnamed: 0,item_A,item_B,valor_similaridade,predito,classe,real
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,FIO CIRURGICO MONONYLON 1215 T 2-0 - JOHNSON &...,NaN,NaN,NaN,NaN,NaN
5,NaN,FIO CIRURGICO MONONYLON 1215 T 2-0 - JOHNSON &...,NaN,NaN,NaN,NaN,NaN
6,NaN,FIO CIRURGICO MONONYLON 1215 T 2-0 - JOHNSON &...,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,FIO CIRURGICO MONONYLON 1215 T 2-0 - JOHNSON &...,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,FIO CIRURGICO MONONYLON 1215 T 2-0 - JOHNSON &...,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,FIO CIRURGICO MONONYLON 1215 T 2-0 - JOHNSON &...,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,FIO CIRURGICO MONONYLON 1215 T 2-0 - JOHNSON &...,NaN,NaN,NaN,NaN

- Grupo de itens similares de Monoline

In [83]:
lado_a = df_fio_mononalion[['item_A', 'predito', 'real']].rename(columns={'item_A':'itens'})
lado_b = df_fio_mononalion[['item_B', 'predito', 'real']].rename(columns={'item_B':'itens'})

itens_fio_mono = pd.concat([lado_a, lado_b]).drop_duplicates()

itens_fio_mono.to_csv('data/itens_fio_monoline.csv')

In [84]:
itens_fio_mono

                                                itens  predito  real
0   FIO CIRURGICO MONONYLON P1662 T 4-0 - JOHNSON ...        1     1
1   FIO CIRURGICO MONONYLON P1664 T 4-0 - JOHNSON ...        1     1
3                  FIO CIRURGICO MONONYLON 1163 T 3-0        1     1
4   FIO CIRURGICO MONONYLON 1215 T 2-0 - JOHNSON &...        1     1
7   FIO CIRURGICO MONONYLON P1602 T 5-0 - JOHNSON ...        1     1
11  FIO CIRURGICO MONONYLON P1611 T 4-0 - JOHNSON ...        1     1
15  FIO CIRURGICO MONONYLON P1661 T 5-0 - JOHNSON ...        1     1
19  FIO CIRURGICO MONONYLON P1666 T 5-0 - JOHNSON ...        1     1
0   FIO CIRURGICO MONONYLON P1663 T 3-0 - JOHNSON ...        1     1

- Metricas

In [86]:
print(classification_report(itens_fio_mono['real'], itens_fio_mono['predito']))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00         9

    accuracy                           1.00         9
   macro avg       1.00      1.00      1.00         9
weighted avg       1.00      1.00      1.00         9